body {
    text-align: center;
    font-family: Arial;
    background: pink;
}

.container {
    margin-top: 100px;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
